body {
    font-family: -apple-system;
    background-color: #EDEDED;
    margin: 10px;
}

.chapter {
    background-color: white;
    border: 0.5px solid red;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

.circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.square {
    height: 100px;
    width: 100px;
}

h2 {
    color: red;
}

h3 {
    color: blue;
}

h3~p b {
    color: blue;
}