body {
    font-family: -apple-system, Times, "Times New Roman", Georgia, serif;
    background-color: #EDEDED;
    margin: 10px;
}

.chapter {
    background-color: white;
    border: 0.5px solid red;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Comic Sans MS";
}

h2 {
    color: red;
}

h3 {
    color: blue;
}

h3~p b {
    color: blue;
}

li b {
    color: blue;
}

div.static h2, div.static h3 {
    background-color: #efefef;
}

div.static p {
    width: 450px;
}

div.relative p.shifted {
    position: relative;
    top: 10px;
    left: 20%;
}

div.absolute h2 {
    position: absolute;
    left: 700px;
    width: 250px;
    margin: 0;
}

div.absolute p {
    width: 450px;
}

div.fixed img {
    width: 200px;
    position: fixed;
    top: 40%;
    left: 70%;
    z-index: 1;
}

div.fixed img:hover {
    width: 0;
}

div.z-index p {
    position: relative;
    z-index: 10;
}

div.float {
    height: 315px;
}

div.float img {
    float: left;
    width: 300px;
    overflow: hidden;
    margin: 5px;
}

div.clear {
    height: 290px;
}

div.clear p {
    float: left;
    max-width: 450px;
}

div.clear ul {
    float: right;
    width: auto;
}

div.columns {
    height: 250px;
}

div.columns .column1of2 {
    float: left;
    width: 620px;
    margin: 10px;
}

div.columns .column2of2 {
    float: right;
    width: 670px;
    margin: 10px;
}

div.columns .c1of3, div.columns .c2of3, div.columns .c3of3 {
    float: left;
    width: auto;
    margin: 10px;
}

div.fixed-layout {
    width: 960px;
    margin: 10px auto;
    text-align: center;
}

div.fixed-layout .content {
    overflow: auto;
    height: 100%;
}

div.fixed-layout .navigation, div.fixed-layout .feature, div.fixed-layout .footer {
    background-color: #efefef;
    padding: 10px;
    margin: 10px;
}

div.fixed-layout .column1, div.fixed-layout .column2, div.fixed-layout .column3 {
    background-color: #efefef;
    width: 300px;
    float: left;
    margin: 10px;
}

div.fixed-layout li {
    display: inline;
    padding: 5px;
}

div.liquid-layout {
    margin: 10px auto;
    text-align: center;
    max-width: 90%;
    min-width: 300px;
}

div.liquid-layout .content {
    overflow: auto;
}

div.liquid-layout .navigation, div.liquid-layout .feature, div.liquid-layout .footer {
    margin: 1%;
    background-color: #efefef;
    padding: 5px;
}

div.liquid-layout .column1, div.liquid-layout .column2, div.liquid-layout .column3 {
    width: 31.3%;
    float: left;
    margin: 1%;
    background-color: #efefef;
}

div.liquid-layout li {
    display: inline;
    padding: 5px 0;
}

div.test {
    width: 960px;
    border: 1px solid red;
    margin: 10px auto;
    height: 400px;
}

div.test .col {
    width: 60px;
    height: 95%;
    margin: 10px;
    background: black;
    float: left;
}